# Zig build outputs
/.zig-cache/
/zig-out/

# Local project caches and generated packaging artifacts
/.cache/
/.dist/
/dist/
/OBS/build/
/packaging/

# Temporary working files
/.tmp/
/temp/
/vendor/

# Editor settings
/.vscode/
/.idea/

# OS cruft
.DS_Store
Thumbs.db

#python
tools/rnnoise_retrainer/data/
tools/rnnoise_retrainer/.venv/
tools/rnnoise_retrainer/artifacts/
